ul{
    padding: 1em;
}
.clickable-div{
    background-color: rgb(47, 144, 255);
    padding: 2em;
    border-radius: 0.5em;
    margin: 1em 0em;
text-align: center;
}
.color1{
    background-color: rgb(255, 95, 95);
}